<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>"
    />
    <script
      src="https://kit.fontawesome.com/af778f9e4b.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <style></style>
  <body>
    {% block spinner %} {% include "spinner.html" %} {% endblock %}
    <div id="sidebar">
      {% block sidebar %} {% include "sidebar.html" %} {% endblock %}
    </div>
    {% block content %} {% include "word.html" %} {% endblock %}
  </body>
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</html>
